body, html {
    background-color: #F3F4F6;
    font-size: 16px;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    color: #7e7e7e;
}

span {
    color: black;

}
.nav-bar {
    border-radius: 5px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    display: flex;
    width: 100%;
    font-size: 2rem;
    color: #000;
    font-weight: 500;
    padding: 10px 0px 10px;
  }
  .bienvenido {
    display: flex;
    justify-content: end;
    padding-right: 70px;
  }
  
  .BCL_MGM {
    display: flex;
    justify-content: start;
    padding-left: 30px;
  }

/* MEDIA */

  @media (max-width: 991px) {
    .nav-bar {
      max-width: 100%;
      flex-wrap: wrap;
      padding: 0 20px;
    }
  }
  
  
  .bienvenido {
    font-family: Inter, sans-serif;
    flex-grow: 1;
    margin: auto 0;
  }
  
  @media (max-width: 991px) {
    .bienvenido {
      padding-top: 20px;
      max-width: 100%;
    }
  }
  
  .content-wrapper {
    align-self: center;
    display: flex;
    margin-top: 26px;
    width: 100%;
    max-width: 1262px;
    flex-direction: column;
    align-items: center;
  }
  
  @media (max-width: 991px) {
    .content-wrapper {
      max-width: 100%;
    }
  }
  
  .menu {
    align-self: start;
    display: flex;
    width: 615px;
    max-width: 100%;
    gap: 19px;
    font-size: 25px;
    color: #000;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
  }
  
  @media (max-width: 991px) {
    .menu {
      display: none; /* Oculta el menú en pantallas pequeñas */
      position: fixed; /* Aquí: Fijo en la pantalla */
      top: 70px; /* Posición original */
      left: 0;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.9); /* Fondo con opacidad */
      z-index: 999; /* Asegura que el menú esté por encima de otros elementos */
  }

  .menu.show { /* Clase añadida para mostrar el menú */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  }
  
  .menu-icon {
    display: none; /* Oculta el icono del menú en pantallas grandes */
    font-size: 30px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  @media (max-width: 991px) {
    .menu-icon {
      display: flex; 
      justify-content: center;
        align-items: center;
        width: 15%;
        position: fixed; /* Aquí: Fijo en la pantalla */
        top: 70px;
        left: 20px;
        z-index: 1000;
        /* transition: top 0.5s ease, left 0s ease; */
    }

  }

  .home, .reportes, .herramientas {
    font-family: Inter, sans-serif;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    display: inline-block;
    text-align: center;
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    padding: 5px 20px;
}
  
.reportes:hover, .herramientas:hover {
    background-color: #0E1049; 
    color: white;
    cursor: pointer;
  }
  .bg{
    background-color: #0E1049;
    color: white;
  }
  @media (max-width: 991px) {
    .menu {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 0px;
      background-color: gainsboro;
      padding-bottom: 10px;
      padding-top: 10px;
    }

    .container-categoria {
      padding-top: 0px;
    }

    h1 {
      font-size: 1.05rem;
    }
    .bienvenido {
      padding-top: 10px;
      justify-content: flex-end;
      padding-right: 20px;
    }
    .BCL_MGM {
      height: 40px;
      padding-top: 10px;
      padding-bottom: 20px;
      padding-left: 0px;
    }
    .nav-bar {
      padding-left: 5px;
    }
    .container-todo {
      padding-top: 70px;
    
    }

    .home, .reportes, .herramientas {
      font-family: Inter, sans-serif;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 1);
      display: flex;
      justify-content: center;
      text-align: center;
      white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 100px;
      padding-right: 100px; /* Ajusta el padding según tus necesidades */
      
  }
  }
  

  @media (min-width: 900px) and (max-width: 1200px) {
    .menu-icon {
        position: fixed; 
        top: 200px;
    }
    menu {
      margin-top: 0px;
    }
}

 /*  hasta aqui bien */
 
 .container-todo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 50px; 
    row-gap: 30px;
    padding-top: 70px;
  }
  
  .container-categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 25%;
    flex: 1 1 calc(20% - 20px); 
    max-width: calc(20% - 20px); 
  }
  
    @media (max-width: 1200px) {
        .container-categoria {
            width: 50%;
            flex: 1 1 calc(40% - 20px); 
            max-width: calc(40% - 20px);
            padding-top: 0px;
        }
    }
  @media (max-width: 900px) {
    .container-categoria {
        width: 100%;
        flex: 1 1 calc(40% - 20px); 
        max-width: calc(40% - 20px);
        padding-top: 0px;
    }
  }
  
  .cuadros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    border: 2px solid #ddd; 
    border-radius: 10px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); 
    background-color: #fff;
    overflow: hidden; 
    margin: 0 auto;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Añadido para la animación */
}

.cuadros:hover {
    transform: scale(1.05); /* Aumenta el tamaño en un 10% */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3), 0 25px 50px rgba(0, 0, 0, 0.2); /* Sombra aumentada en el hover */
    cursor: pointer;
}
  
  .icono {
    width: 100%; 
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Ajusta la imagen para cubrir el cuadro */
  }
  
  .titulo {
    margin-top: 10px;
    font-family: Inter, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    color: #333;
    padding-top: 20px;
  }
  
  


  